body {
    color: #010101;
    font-size: 18px;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  a {
    color: #010101;
  }
  a:hover, a:focus {
    text-decoration: none;
    color: #23527c;
  }
  
  b, strong {
    font-weight: 700;
  }
  
  button {
    cursor: pointer;
  }
  button:focus {
    outline: none;
  }
  
  .btn-clear {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .btn-clear:focus {
    box-shadow: none;
  }
  
  textarea {
    resize: none;
  }
  
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1190px;
    }
  }
  
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }
  
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    padding-right: 12px;
    padding-left: 12px;
  }
  
  /* Typography */
  .h5, h5 {
    font-size: 16px;
  }
  
  .h4, h4 {
    font-size: 17px;
  }
  
  .h3, h3, .typescale-4 {
    font-size: 18px;
  }
  
  .typescale-3 {
    font-size: 18px;
  }
  @media only screen and (min-width: 768px) {
    .typescale-3 {
      font-size: 20px;
    }
  }
  
  .h2, h2, .typescale-2 {
    font-size: 20px;
  }
  @media only screen and (min-width: 768px) {
    .h2, h2, .typescale-2 {
      font-size: 22px;
    }
  }
  
  .h1, h1, .typescale-1 {
    font-size: 22px;
  }
  @media only screen and (min-width: 768px) {
    .h1, h1, .typescale-1 {
      font-size: 25px;
    }
  }
  
  .title {
    font-weight: 500;
    text-transform: uppercase;
    color: #000043;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .title a {
    color: inherit;
  }
  
  .btn {
    font-size: 14px;
    line-height: 22px;
    
  }
  .btn:focus {
    box-shadow: none;
  }
  
  .btn-outline-dark {
    color: #454545;
    border-color: #646464;
    background-color: transparent;
  }
  .btn-outline-dark:hover, .btn-outline-dark:focus {
    background-color: #646464;
    color: #fff;
  }
  
  .btn-outline-dark2 {
    color: #000;
    border-color: #000;
    background: #fff url("../images/btn-dark.png") repeat-x 0 center;
  }
  .btn-outline-dark2:hover, .btn-outline-dark2:focus {
    opacity: .85;
  }
  
  /*------------------------------------------------------------------
  [Header]
  */
  .header-page {
    margin-bottom: 2px;
    border-bottom: 1px solid #b2b2b2;
    padding: 20px 0 17px 0;
  }
  
  .header-right {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-links {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 19px;
  }
  .header-links li {
    display: inline-block;
  }
  .header-links li + li::before {
    content: "|";
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #000;
    margin: 0 5px;
  }
  .header-links li a {
    color: #000;
    font-size: 14px;
  }
  .header-links li a:hover {
    color: #23527c;
  }
  
  .header-search {
    margin: 0 19px 0 10px;
    max-width: 140px;
    display: none;
  }
  @media only screen and (min-width: 992px) {
    .header-search {
      display: block;
    }
  }
  
  .form-search {
    height: 23px;
    border: 1px solid #b9b9bb;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
  }
  .form-search .form-control {
    border: 0;
    height: 21px;
    line-height: 19px;
    padding: 1px 24px 1px 10px;
    font-size: 14px;
    border-radius: 0;
    background-color: transparent;
  }
  .form-search .form-control:focus {
    box-shadow: none;
  }
  .form-search .form-submit {
    padding: 0;
    border: 0;
    position: absolute;
    top: 5px;
    right: 9px;
    width: 13px;
    height: 13px;
    background: url("./images/search-icon.png") no-repeat 0 0;
    background-color: transparent;
    font-size: 0;
  }
  
  /* navigation */
  .navigation {
    background-color: #001373;
    /* rgba(15, 31, 121, 0.8); */
  }
  .section-banner .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  
  .navigation-mobile {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    position: relative;
  }
  @media only screen and (min-width: 992px) {
    .navigation-mobile {
      display: none;
    }
  }
  .navigation-mobile .form-search {
    border-color: #fff;
  }
  
  .btn-menu {
    width: 28px;
    height: 28px;
    position: relative;
    border: none;
  }
  .btn-menu::before, .btn-menu::after {
    background: #fff;
    content: '';
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 22px;
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  .btn-menu::before {
    top: 20%;
    transform-origin: top left;
  }
  .btn-menu::after {
    bottom: 20%;
    transform-origin: bottom left;
  }
  .btn-menu span {
    background: #fff;
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    transition: all 0.3s ease;
    font-size: 0;
    border-radius: 2px;
  }
  
  .btn-submenu {
    position: absolute;
    right: 0;
    top: 0;
    font: 20px/50px 'FontAwesome';
    text-align: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
  }
  
  .btn-submenu:before {
    content: "\f107";
    color: #fff;
  }
  
  .btn-submenu.active:before {
    content: "\f106";
  }
  
  #mainmenu {
    display: block;
    transition: all 0.3s ease-out;
  }
  
  #mainmenu {
    background-image: none;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
  }
  
  #mainmenu ul {
    position: relative;
    margin: 0;
    padding-left: 0;
  }
  
  #mainmenu ul li {
    position: relative;
  }
  
  #mainmenu > ul > li {
    display: block;
    float: left;
    padding-right: 1px;
  }
  
  #mainmenu > ul > li + li:before {
    background: #a7a8a8;
    content: '';
    display: inline-block;
    height: 12px;
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    left: 0;
  }
  
  #mainmenu > ul > li > a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    outline: none;
    text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
    line-height: 47px;
  }
  
  #mainmenu > ul > li > a:hover, #mainmenu > ul > li.active a {
    background: #50bbff;
  }
  
  /* submenu */
  .sub-menu {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }
  
  #mainmenu ul.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 255px;
    background-color: #50bbff;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
  }
  
  #mainmenu ul li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  
  #mainmenu ul li ul li {
    margin-left: 0;
  }
  
  #mainmenu ul.sub-menu li ul {
    position: absolute;
    left: 225px;
    top: 0;
  }
  
  #mainmenu ul.sub-menu > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: inherit;
    letter-spacing: .03em;
    line-height: 24px;
    height: auto;
    color: #fff;
    display: block;
    padding: 8px 10px 8px 22px;
    position: relative;
    margin: 0 3px;
    transition: all 0.2s ease-out;
    border-top: 1px solid #96d6ff;
  }
  
  #mainmenu ul.sub-menu > li:first-child > a {
    border-top: 0;
  }
  
  #mainmenu ul.sub-menu > li a:before {
    position: absolute;
    top: 8px;
    left: 10px;
    content: '\f101';
    font-family: FontAwesome;
    font-size: 14px;
  }
  
  #mainmenu ul.sub-menu > li:hover a {
    padding-left: 25px;
  }
  
  #mainmenu ul.sub-menu > li > a:hover {
    color: #1931b5;
    font-style: italic;
  }
  
  /* Mobile navigation
  ---------------------------------------- */
  #mainmenu-mobi {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    background-color: #4896d1;
    z-index: 1000;
    left: 0;
  }
  
  #mainmenu-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #mainmenu-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #2570b0;
    cursor: pointer;
  }
  
  #mainmenu-mobi ul > li > a {
    text-decoration: none;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    color: #fff;
    font-size: 16px;
  }
  
  #mainmenu-mobi ul.sub-menu {
    top: 100%;
    left: 0;
    z-index: 2000;
    position: relative;
    background-color: #50bbff;
  }
  
  #mainmenu-mobi > ul > li > ul > li,
  #mainmenu-mobi > ul > li > ul > li > ul > li {
    position: relative;
    border-top: 1px solid #96d6ff;
  }
  
  #mainmenu-mobi ul.sub-menu > li > a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    border-top-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-out;
  }
  
  #mainmenu-mobi ul.sub-menu > li > ul > li > a {
    padding: 0 40px;
  }
  
  #mainmenu-mobi ul.sub-menu > li > ul > li ul li > a {
    padding: 0 60px;
  }
  
  #mainmenu-mobi > ul > li > ul > li:first-child a {
    border-top: none;
  }
  
  /*------------------------------------------------------------------
  [Content]
  */
  .main-content {
    margin-bottom: 40px;
  }
  @media only screen and (min-width: 768px) {
    .main-content {
      margin-bottom: 60px;
    }
  }
  
  .section-banner {
    position: relative;
  }
  
  .banner-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .quick-link {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 14px;
  }
  .quick-link .iwt {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-top: 25px;
  }
  @media only screen and (min-width: 768px) {
    .quick-link .iwt {
      -ms-flex: 0 0 14.2%;
      flex: 0 0 14.2%;
      max-width: 14.2%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .quick-link .iwt {
      -ms-flex: 0 0 12.5%;
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
  }
  
  .iwt a {
    display: block;
  }
  .iwt a:hover .iwt-title {
    color: #23527c;
  }
  .iwt .iwt-icon {
    display: block;
    margin: 0 auto 21px auto;
    text-align: center;
  }
  .iwt .iwt-icon img {
    height: 25px;
  }
  .iwt .iwt-title {
    color: #111;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
  }
  
  .heading {
    background-color: #f39663;
    padding: 8px 0 6px 0;
    text-align: center;
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 768px) {
    .heading {
      margin-bottom: 34px;
    }
  }
  .heading .title {
    color: #fff;
    font-weight: 400;
  }
  
  .heading2 {
    background-color: #0f1f79;
    padding: 12px 0 11px 0;
    text-align: center;
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 768px) {
    .heading2 {
      margin-bottom: 34px;
    }
  }
  .heading2 .title {
    color: #fff;
    font-weight: 400;
  }
  
  .col-featured,
  .col-qa {
    margin-bottom: 25px;
  }
  @media only screen and (min-width: 768px) {
    .col-featured,
    .col-qa {
      margin-bottom: 49px;
    }
  }
  
  .featured {
    margin-right: -7px;
    margin-left: -7px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 768px) {
    .featured {
      margin-bottom: 30px;
    }
  }
  
  .featured [class*="col-"] {
    padding-right: 7px;
    padding-left: 7px;
  }
  
  .featured-item {
    margin-top: 27px;
  }
  
  .featured-img {
    border: 1px solid #b0b0b0;
    margin-bottom: 18px;
  }
  .featured-img img {
    display: block;
    width: 100%;
  }
  
  .featured-title {
    text-transform: uppercase;
    color: #000043;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
  }
  .featured-title a {
    color: inherit;
  }
  .featured-title a:hover {
    color: #23527c;
  }
  
  .qa-form {
    padding: 15px 12px 18px 12px;
    background: url("../images/bg-pattern.jpg") repeat;
  }
  
  .qa .title {
    margin-bottom: 5px;
  }
  
  .forms .form-group {
    margin-bottom: 12px;
  }
  .forms .form-control {
    border-color: #5b5b5b;
    background-color: #fff;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
  }
  .pull-right {
    float: right;
}
.pull-left {
    float: left;
}
  .forms input.form-control,
  .forms select.form-control {
    height: 32px;
  }
  .forms label {
    color: #010101;
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
  }
  .forms label::after {
    content: "*";
    display: none;
    margin-left: 2px;
    color: #d50000;
    font-size: 16px;
  }
  .forms label.required::after {
    display: inline-block;
  }
  .forms small {
    font-size: 14px;
    color: #a3a3a3;
    font-weight: 500;
    line-height: 17px;
    display: inline-block;
    margin-bottom: 17px;
    padding-top: 8px;
  }
  .forms .btn-outline-dark2 {
    font-weight: 500;
  }
  
  .captcha {
    border: 1px solid #FFF;
    box-shadow: 0 0 2px #e0e0e0;
    background-color: #f9f9f9;
    margin-bottom: 18px;
  }
  
  .box-news {
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 768px) {
    .box-news .heading {
      margin-bottom: 46px;
    }
  }
  
  .list-news {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  .list-news li {
    padding-bottom: 20px;
  }
  .list-news li:not(:last-child) {
    border-bottom: 1px dotted #4e4e4e;
    margin-bottom: 23px;
  }
  
  .news-item {
    display: -ms-flexbox;
    display: flex;
  }
  .news-item .news-figure {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  .news-item .news-content {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 12px;
  }
  @media only screen and (min-width: 768px) {
    .news-item .news-content {
      padding-left: 20px;
    }
  }
  
  .news-figure a {
    display: block;
    position: relative;
    transition: all .2s linear;
  }
  .news-figure a::before {
    opacity: 0;
    content: '';
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .news-figure a:hover::before {
    opacity: 1;
  }
  .news-figure a img {
    width: 100%;
  }
  
  .news-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    text-align: justify;
  }
  @media only screen and (min-width: 768px) {
    .news-title {
      font-size: 19px;
    }
  }
  
  .news-text {
    text-align: justify;
    margin-top: 2px;
    line-height: 24px;
  }
  
  .meta {
    color: #616161;
    font-size: 14px;
  }
  
  .ui-link-more {
    color: #8f8f8f;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .view-all {
    text-align: center;
    position: relative;
    margin-top: 20px;
  }
  @media only screen and (min-width: 768px) {
    .view-all {
      margin-top: 42px;
    }
  }
  .view-all::after, .view-all::before {
    height: 1px;
    width: 50%;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    background: url("../images/bg-gradient-line.png") no-repeat center center;
    background-size: 100% 100%;
    z-index: -1;
  }
  .view-all::before {
    right: 50%;
    transform: rotate(180deg);
  }
  .view-all::after {
    left: 50%;
  }
  .view-all .btn-outline-dark {
    background-color: #fff;
    text-transform: uppercase;
  }
  .view-all .btn-outline-dark:hover, .view-all .btn-outline-dark:focus {
    background-color: #646464;
  }
  
  @media (max-width: 767px) {
    .admissions .heading {
      margin-bottom: 0;
    }
  }
  
  .category {
    background: url(../images/bg-category.jpg) repeat;
  }
  .category .heading2 {
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    .category .heading2 {
      position: relative;
      cursor: pointer;
    }
    .category .heading2 i {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }
  }
  
  .category-content {
    padding: 15px 15px 55px;
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .category-content {
      display: block !important;
    }
  }
  
  .category-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .category-list li {
    font-weight: 500;
  }
  .category-list li:not(:last-child) {
    margin-bottom: 15px;
  }
  
  /*------------------------------------------------------------------
  [Footer]
  */
  .footer-top {
    background: #004eaf;
    padding: 13px 0;
  }
  .footer-top h3 {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }
  @media only screen and (min-width: 768px) {
    .footer-top h3 {
      font-size: 24px;
    }
  }
  .footer-top a {
    display: inline-block;
    margin: 0 5px;
  }
  .footer-top a img {
    width: 30px;
    height: auto;
  }
  .footer-top a:last-child {
    margin-right: 0;
  }
  
  .footer-middle {
    background: #001373;
    padding: 25px 0;
    color: #fff;
  }
  .footer-middle a {
    color: inherit;
  }
  .footer-middle hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .footer-middle .address {
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
  }
    
  .admission-title {
    color: #fff;
    padding: 10px 10px 7px 10px;
}

@media all and (max-width:767px){.aui [class*="span"],.aui .uneditable-input[class*="span"],.aui .row-fluid [class*="span"]{margin:0 20px}}
@media all and (max-width:1200px){.aui .row-fluid{width:auto!important}.aui .row-fluid [class*="span"]:first-child{margin-left:0!important}}
.tlu-menu{padding:0 11.13%}

.tlu-menu .column-2 ul li a{display:block;text-decoration:none;padding:7px 7px;border-bottom:1px solid #ccc;}
.tlu-menu .column-2 ul li a:hover{background-color:#ececec}
.tlu-menu .column-2 ul li{position:relative;padding-left:15px;display:block;background:url("images/icon-muiten.png") no-repeat 0 17px}
.tlu-menu .column-2 ul li ul li{background:0}
.tlu-menu .column-2 ul li ul{position:relative;display:none;margin:0;padding:0}.Layout12vs363 #column-2 ul li:HOVER ul,
.tlu-menu .column-2 ul li:HOVER ul{position:relative;display:block}
.tlu-menu .row2{margin-bottom:50px}
.tlu-menu{padding:0;margin:0;position:relative}
.tlu-menu .column-2{width:100%!important}
@media print{.aui{@page{margin:.5cm}}.aui *{text-shadow:none!important;color:#000!important;background:transparent!important;box-shadow:none!important}}
.aui .row-fluid{width:auto!important}.aui h4{font-size:19.5px}
.aui a,.aui a:visited{text-decoration:underline}
.aui p,.aui h2,.aui h3{orphans:3;widows:3}.aui h2,.aui h3{page-break-after:avoid}
.aui body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333;background-color:white}
.aui a{color:#0af;text-decoration:none}
.aui a:hover,.aui a:focus{color:#0077b3;text-decoration:underline}
.related-list li {
  list-style: none;
  padding: 25px 0;
  border-bottom: 1px dotted #001373;
  font-size: 18px;
  line-height: 24px;
}
.tab{width:100%;display:none;padding:1rem;background:#fafafa;border:2px solid #90CAF9}
.tab.active{display:block}
.table-bordered td, .table-bordered th{
 border: 1px solid #000000;
 border-bottom: 1px solid #000000;
}